<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
    <div>
        <hgroup>
            <h1>Welcome to another year, Students!</h1>
            <h4>Let's make it a good one.</h4>
        </hgroup>
        <a asp-controller="Registers" asp-action="Index">Register for Your Classes Here!</a>
    </div>
</body>
</html>